.jumbotron>.container-fluid {
    padding: 0
}

.rewards .jumbotron {
    margin: 0.6rem 0rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    padding: 0.6rem 2rem;
    padding-bottom: 4rem !important;
}