.container-fluid > .navbar-brand {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 3rem;
}
.login-button {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    padding: 0.6rem 2rem;
}
.main-content {
    padding: 3.2rem;
    background: #42145F;
    margin: 4rem 0rem;
    color: #fff;
    border-radius: 0.6rem;
}